@model Shop.Domain.DTOs.Seller.StoreProduct.FilterSellerProductDTO
@using Shop.Application.Utils
@using Shop.Domain.Entities.MarketPlaceStore.Products


@{
    TempData["Title"] = "لیست محصولات";
}


<section class="inner-page" id="profile-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>ناحیه کاربری</h1>
                            <p>به پنل فروشگاه روبیک مارکت خوش آمدید.</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb" />
                                <li class="breadcrumb-item"><a href="/">صفحه نخست</a></li>
                                <li class="breadcrumb-item"><a href="/seller">پنل فروشگاه</a></li>
                                <li class="breadcrumb-item active"><a>لیست محصولات</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />


    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-12 col-lg-3">
                    @await Component.InvokeAsync("SellerSideBar")
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade" id="dashboard">
                            <h3>داشبورد </h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با <a href="#">سفارشات اخیر</a>لورم ایپسوم متن <a href="#">لورم ایپسوم متن ساختگی با تولید</a> لورم <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</a></p>
                        </div>
                        <div class="tab-pane fade active show">
                            <div class="table-responsive">
                                @if (Model.Products != null && Model.Products.Any())
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>

                                                <th>نام محصول</th>
                                                <th>قیمت</th>
                                                <th>وضعیت</th>
                                                <th>تصویر</th>
                                                <th>توضیحات</th>
                                                <th>عملیات</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.Products)
                                            {
                                                <tr>

                                                    <td>@item.Title</td>
                                                    <td>@item.Price</td>
                                                    <td>@Html.DisplayFor(Model=>item.ProductAcceptanceState)</td>
                                                    <td>
                                                        <img style="border-radius:50%; width:50px" src="@(!String.IsNullOrEmpty(item.ImageName)?FilePath.ProductOrigin+item.ImageName : FilePath.AvatarDefault)" />
                                                    </td>

                                                    <td>
                                                        @item.Description
                                                    </td>


                                                    @if (item.ProductAcceptanceState == ProductAcceptanceState.Accepted || item.ProductAcceptanceState == ProductAcceptanceState.Rejected)
                                                    {
                                                        <td><a asp-area="Seller" asp-controller="Home" asp-action="EditProduct" asp-route-productId="@item.Id" class="btn btn-warning">ویرایش</a></td>
                                                    }


                                                    @if (item.ProductAcceptanceState == ProductAcceptanceState.Accepted
                                                   || item.ProductAcceptanceState == ProductAcceptanceState.Rejected)
                                                    {
                                                        <td><a asp-area="Seller" asp-controller="Home" asp-action="DeleteProduct" asp-route-productId="@item.Id" class="btn btn-danger">حذف</a></td>
                                                    }

                                                    @if (item.ProductAcceptanceState == ProductAcceptanceState.Accepted
                                                   || item.ProductAcceptanceState == ProductAcceptanceState.Rejected)
                                                    {
                                                        <td><a asp-area="Seller" asp-controller="Home" asp-action="GetProductGalleries" asp-route-productId="@item.Id" class="btn btn-success">گالری تصاویر</a></td>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }

                                else
                                {
                                    <partial name="_NoItemFound" />
                                }
                            </div>
                        </div>


                        <form asp-area="Seller" asp-controller="Home" asp-action="FilterProducts" method="get" id="filter-form">

                            <input type="hidden" asp-for=PageId />

                            <div class="footer">
                                <partial name="_PagingPartial" model="@Model.GetCurrentPaging()" />
                            </div>

                        </form>
                        <div class="row">
                            <div class="row">
                                <ul role="button" class="nav flex-column dashboard-list row col-md-12">
                                    <li class="col-md-3"><a asp-area="Seller" asp-controller="Home" asp-action="CreateProduct" class="btn btn-success">ثبت درخواست جدید</a></li>
                                </ul>
                            </div>

                            <br />

                            <div class="row">
                                <ul role="button" class="nav flex-column dashboard-list row col-md-12">
                                    <li class="col-md-3"><a href="/Seller" class="btn btn-danger">بازگشت</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>